/* ******************My CSS Style****************** */

.app_body {
  display: flex;
  margin-top: 30px;
}

.app {
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
  align-items: center;
}